[tool.poetry]
name = "atmos_validation"
version = "1.4.0"
description = "A python library containing automated data validation tools for the Atmos Data Service"
authors = ["Team Atmos (Equinor)"]
readme = ["README.md", "docs/conventions.md", "docs/run.md"]
repository = "https://github.com/equinor/atmos-validation"
documentation = "https://github.com/equinor/atmos-validation/tree/main/docs"
license = "MIT"

[tool.poetry.urls]
"Bug Reports" = "https://github.com/equinor/atmos-validation/issues"
"Changelog" = "https://github.com/equinor/atmos-validation/blob/main/CHANGELOG.md"

[tool.poetry.dependencies]
python = ">=3.8"
pydantic = "^1.10.2"
numpy = "^1.23.3"
xarray = "^2022.9.0"
dask = "^2022.11.1"
h5py = "3.6.0"
h5netcdf = "^1.1.0"
requests = "^2.31.0"
netcdf4 = "^1.6.5"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
pylint = "^2.15.9"
black = "^22.12.0"
pyright = "^1.1.291"
coverage = "^7.1.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

# docs for pylint: https://github.com/PyCQA/pylint/blob/main/doc/user_guide/configuration/all-options.rst
[tool.pylint]
disable = [
    "missing-function-docstring",
    "missing-module-docstring",
    "missing-class-docstring",
    "broad-except",
    "too-few-public-methods",
    "no-name-in-module",
    "duplicate-code",
    "unnecessary-lambda"
]
ignore-imports = true
good-names = ['ds', 'dt', 'i', 'e', 'df', 'yy', 'mm', 'dd', 'qc']
max-line-length = 120

[tool.coverage.run]
relative_files = true
